<form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="name">Ism:</label>
    <input type="text" name="name" required>

    <label for="short_info">Qisqacha ma’lumot:</label>
    <input type="text" name="short_info" required>

    <label for="description">To‘liq ma’lumot:</label>
    <textarea name="description" required></textarea>

    <label for="image">Rasm yuklash:</label>
    <input type="file" name="image" required>

    <button type="submit">Yaratish</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
